.login-wrapper {
  height: 100vh;               // ocupa toda área da tela
  display: flex;
  justify-content: center;     // centraliza horizontalmente
  align-items: center;         // centraliza verticalmente
  background-color: #f5f5f5;   // opcional
}

.card {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
